In [3]:
#data integration
import pandas as pd
import numpy as np

In [4]:
#load data
padat_pdk = pd.read_csv('Padat-penduduk.csv')
penduduk = pd.read_csv('Penduduk-indo.csv')

In [5]:
padat_pdk

                Provinsi pdt 2000 pdt 2010
0                   Aceh       68       78
1         Sumatera Utara      160      179
2         Sumatera Barat      101      116
3                   Riau       45       64
4                  Jambi       48       62
5       Sumatera Selatan       68       82
6               Bengkulu       73       86
7                Lampung      194      220
8   Kep. Bangka Belitung       55       75
9              Kep. Riau      127      206
10           DKI Jakarta    12592    14518
11            Jawa Barat     1010     1222
12           Jawa Tengah      952      989
13         DI Yogyakarta      996     1107
14            Jawa Timur      727      786
15                Banten      838     1106
16                  Bali      545      676
17   Nusa Tenggara Barat      216      243
18   Nusa Tenggara Timur       78       97
19      Kalimantan Barat       27       30
20     Kalimantan Tengah       12       14
21    Kalimantan Selatan       77       94
22      Kalimantan Timur       12       17
23      Kalimantan Utara        -        -
24        Sulawesi Utara      144      164
25       Sulawesi Tengah       35       43
26      Sulawesi Selatan      153      173
27     Sulawesi Tenggara       48       59
28             Gorontalo       74       93
29        Sulawesi Barat       53       69
30                Maluku       25       33
31          Maluku Utara       25       33
32           Papua Barat        5        8
33                 Papua        5        9
34             INDONESIA      107      124

In [6]:
penduduk

                     Provinsi   pdk 2000   pdk 2010
0                        Aceh    3930905    4494410
1              Sumatera Utara   11649655   12982204
2              Sumatera Barat    4248931    4846909
3                        Riau    4957627    5538367
4                       Jambi    2413846    3092265
5            Sumatera Selatan    6899675    7450394
6                    Bengkulu    1567432    1715518
7                     Lampung    6741439    7608405
8   Kepulauan Bangka Belitung     900197    1223296
9              Kepulauan Riau          -    1679163
10                DKI Jakarta    8389443    9607787
11                 Jawa Barat   35729537   43053732
12                Jawa Tengah   31228940   32382657
13              DI Yogyakarta    3122268    3457491
14                 Jawa Timur   34783640   37476757
15                     Banten    8098780   10632166
16                       Bali    3151162    3890757
17        Nusa Tenggara Barat    4009261    4500212
18        Nusa Tenggara Timur    3952279    4683827
19           Kalimantan Barat    4034198    4395983
20          Kalimantan Tengah    1857000    2212089
21         Kalimantan Selatan    2985240    3626616
22           Kalimantan Timur    2455120    3553143
23             Sulawesi Utara    2012098    2270596
24            Sulawesi Tengah    2218435    2635009
25           Sulawesi Selatan    8059627    8034776
26          Sulawesi Tenggara    1821284    2232586
27                  Gorontalo     835044    1040164
28             Sulawesi Barat          -    1158651
29                     Maluku    1205539    1533506
30               Maluku Utara     785059    1038087
31                Papua Barat          -     760422
32                      Papua    2220934    2833381
33                  INDONESIA  206264595  237641326

In [13]:
#merge data
data = pd.merge(padat_pdk, penduduk, on='Provinsi')
data

               Provinsi pdt 2000 pdt 2010   pdk 2000   pdk 2010
0                  Aceh       68       78    3930905    4494410
1        Sumatera Utara      160      179   11649655   12982204
2        Sumatera Barat      101      116    4248931    4846909
3                  Riau       45       64    4957627    5538367
4                 Jambi       48       62    2413846    3092265
5      Sumatera Selatan       68       82    6899675    7450394
6              Bengkulu       73       86    1567432    1715518
7               Lampung      194      220    6741439    7608405
8           DKI Jakarta    12592    14518    8389443    9607787
9            Jawa Barat     1010     1222   35729537   43053732
10          Jawa Tengah      952      989   31228940   32382657
11        DI Yogyakarta      996     1107    3122268    3457491
12           Jawa Timur      727      786   34783640   37476757
13               Banten      838     1106    8098780   10632166
14                 Bali      545      676    3151162    3890757
15  Nusa Tenggara Barat      216      243    4009261    4500212
16  Nusa Tenggara Timur       78       97    3952279    4683827
17     Kalimantan Barat       27       30    4034198    4395983
18    Kalimantan Tengah       12       14    1857000    2212089
19   Kalimantan Selatan       77       94    2985240    3626616
20     Kalimantan Timur       12       17    2455120    3553143
21       Sulawesi Utara      144      164    2012098    2270596
22      Sulawesi Tengah       35       43    2218435    2635009
23     Sulawesi Selatan      153      173    8059627    8034776
24    Sulawesi Tenggara       48       59    1821284    2232586
25            Gorontalo       74       93     835044    1040164
26       Sulawesi Barat       53       69          -    1158651
27               Maluku       25       33    1205539    1533506
28         Maluku Utara       25       33     785059    1038087
29          Papua Barat        5        8          -     760422
30                Papua        5        9    2220934    2833381
31            INDONESIA      107      124  206264595  237641326

In [16]:
#delete column
data1 = data.drop(['pdt 2000'], axis=1)
data1

               Provinsi pdt 2010   pdk 2000   pdk 2010
0                  Aceh       78    3930905    4494410
1        Sumatera Utara      179   11649655   12982204
2        Sumatera Barat      116    4248931    4846909
3                  Riau       64    4957627    5538367
4                 Jambi       62    2413846    3092265
5      Sumatera Selatan       82    6899675    7450394
6              Bengkulu       86    1567432    1715518
7               Lampung      220    6741439    7608405
8           DKI Jakarta    14518    8389443    9607787
9            Jawa Barat     1222   35729537   43053732
10          Jawa Tengah      989   31228940   32382657
11        DI Yogyakarta     1107    3122268    3457491
12           Jawa Timur      786   34783640   37476757
13               Banten     1106    8098780   10632166
14                 Bali      676    3151162    3890757
15  Nusa Tenggara Barat      243    4009261    4500212
16  Nusa Tenggara Timur       97    3952279    4683827
17     Kalimantan Barat       30    4034198    4395983
18    Kalimantan Tengah       14    1857000    2212089
19   Kalimantan Selatan       94    2985240    3626616
20     Kalimantan Timur       17    2455120    3553143
21       Sulawesi Utara      164    2012098    2270596
22      Sulawesi Tengah       43    2218435    2635009
23     Sulawesi Selatan      173    8059627    8034776
24    Sulawesi Tenggara       59    1821284    2232586
25            Gorontalo       93     835044    1040164
26       Sulawesi Barat       69          -    1158651
27               Maluku       33    1205539    1533506
28         Maluku Utara       33     785059    1038087
29          Papua Barat        8          -     760422
30                Papua        9    2220934    2833381
31            INDONESIA      124  206264595  237641326

In [33]:
#delete row
data2 = data1.drop([26,29])
data2

               Provinsi pdt 2010   pdk 2000   pdk 2010
0                  Aceh       78    3930905    4494410
1        Sumatera Utara      179   11649655   12982204
2        Sumatera Barat      116    4248931    4846909
3                  Riau       64    4957627    5538367
4                 Jambi       62    2413846    3092265
5      Sumatera Selatan       82    6899675    7450394
6              Bengkulu       86    1567432    1715518
7               Lampung      220    6741439    7608405
8           DKI Jakarta    14518    8389443    9607787
9            Jawa Barat     1222   35729537   43053732
10          Jawa Tengah      989   31228940   32382657
11        DI Yogyakarta     1107    3122268    3457491
12           Jawa Timur      786   34783640   37476757
13               Banten     1106    8098780   10632166
14                 Bali      676    3151162    3890757
15  Nusa Tenggara Barat      243    4009261    4500212
16  Nusa Tenggara Timur       97    3952279    4683827
17     Kalimantan Barat       30    4034198    4395983
18    Kalimantan Tengah       14    1857000    2212089
19   Kalimantan Selatan       94    2985240    3626616
20     Kalimantan Timur       17    2455120    3553143
21       Sulawesi Utara      164    2012098    2270596
22      Sulawesi Tengah       43    2218435    2635009
23     Sulawesi Selatan      173    8059627    8034776
24    Sulawesi Tenggara       59    1821284    2232586
25            Gorontalo       93     835044    1040164
27               Maluku       33    1205539    1533506
28         Maluku Utara       33     785059    1038087
30                Papua        9    2220934    2833381
31            INDONESIA      124  206264595  237641326

In [39]:
dataa = data2['pdt 2010'].astype('int')
dataaa = data2['pdk 2010'].astype('int')

In [40]:
#insert new column
#kepadatan penduduk = jumlah penduduk/wilayah(km2)
data2['Wilayah 2010'] = dataa/dataaa
data2

               Provinsi pdt 2010   pdk 2000   pdk 2010  Wilayah 2010
0                  Aceh       78    3930905    4494410  1.735489e-05
1        Sumatera Utara      179   11649655   12982204  1.378811e-05
2        Sumatera Barat      116    4248931    4846909  2.393278e-05
3                  Riau       64    4957627    5538367  1.155575e-05
4                 Jambi       62    2413846    3092265  2.005003e-05
5      Sumatera Selatan       82    6899675    7450394  1.100613e-05
6              Bengkulu       86    1567432    1715518  5.013063e-05
7               Lampung      220    6741439    7608405  2.891539e-05
8           DKI Jakarta    14518    8389443    9607787  1.511066e-03
9            Jawa Barat     1222   35729537   43053732  2.838314e-05
10          Jawa Tengah      989   31228940   32382657  3.054104e-05
11        DI Yogyakarta     1107    3122268    3457491  3.201744e-04
12           Jawa Timur      786   34783640   37476757  2.097300e-05
13               Banten     1106    8098780   10632166  1.040240e-04
14                 Bali      676    3151162    3890757  1.737451e-04
15  Nusa Tenggara Barat      243    4009261    4500212  5.399746e-05
16  Nusa Tenggara Timur       97    3952279    4683827  2.070956e-05
17     Kalimantan Barat       30    4034198    4395983  6.824412e-06
18    Kalimantan Tengah       14    1857000    2212089  6.328859e-06
19   Kalimantan Selatan       94    2985240    3626616  2.591948e-05
20     Kalimantan Timur       17    2455120    3553143  4.784496e-06
21       Sulawesi Utara      164    2012098    2270596  7.222773e-05
22      Sulawesi Tengah       43    2218435    2635009  1.631873e-05
23     Sulawesi Selatan      173    8059627    8034776  2.153140e-05
24    Sulawesi Tenggara       59    1821284    2232586  2.642675e-05
25            Gorontalo       93     835044    1040164  8.940898e-05
27               Maluku       33    1205539    1533506  2.151932e-05
28         Maluku Utara       33     785059    1038087  3.178924e-05
30                Papua        9    2220934    2833381  3.176417e-06
31            INDONESIA      124  206264595  237641326  5.217948e-07